<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "styles.css"/>
    <script src = "script.js" defer></script>
</head>
<body class = "b">
    <div class = "intro">
        <div class = "intro-item"> 
        <h1> Hi, I'm Tommy </h1>
        <p> I'm an aspiring software engineer. </p>
        </div>
    </div>
    <!-- Start of section -->
    <section class = "scroll-container">
        <div class = "about-me scroll-element js-scroll fade-in">
            <div class = "title">
                About Me
            </div>
            
            <div class = "about-me-container">
                <div class = "about-me-text">
                    <img src = "https://images.pexels.com/photos/12749463/pexels-photo-12749463.jpeg" class = "profile-pic" />
                    <p> 
                        Can a classical musician teach themself to program? By all means.

Coming from a background of continuous practice, performance and collaboration, I was immediately enthralled by the similarity in development in creating new products and experiences in a satisfyingly tangible manner.

Committed to the idea of life-long learning, I am a full stack developer with a passion for Javascript, React, and all things web development.
                        
                    </p>
                </div>

                <div class = 'about-me-skills'>
                    <p> SECTION FOR ICONS </p> 
                </div>
            </div>  
            
        </div>
    </section>

    <!-- Start of section -->
    <section class = "scroll-container">
        <div class = "projects scroll-element js-scroll fade-in-bottom-" >
            <div class = "title">
                Projects
            </div>
            <!-- Start of 1 project -->
            <div class = "project-container">
                <div class = 'project-desc'>
                    <h3> Project Title </h6>
                    <p> Project description </p>
                    <button> Live app </button>
                    <button> Repository </button>  
                </div>
                <div class = "project-picture">
                    <img src = "https://images.pexels.com/photos/12749463/pexels-photo-12749463.jpeg" class = "project-pic" />
                </div>
            </div>

            <!-- Start of 1 project -->
            <div class = "project-container">
                <div class = 'project-desc'>
                    <h3> Project Title </h6>
                    <p> Project description </p>
                    <button> Live app </button>
                    <button> Repository </button>  
                </div>
                <div class = "project-picture">
                    <img src = "https://images.pexels.com/photos/12749463/pexels-photo-12749463.jpeg" class = "project-pic" />
                </div>
            </div>

            <!-- Start of 1 project -->
            <div class = "project-container">
                <div class = 'project-desc'>
                    <h3> Project Title </h6>
                    <p> Project description </p>
                    <button> Live app </button>
                    <button> Repository </button>  
                </div>
                <div class = "project-picture">
                    <img src = "https://images.pexels.com/photos/12749463/pexels-photo-12749463.jpeg" class = "project-pic" />
                </div> 
            </div>
        </div>
    </section>

    <!-- Start of section -->
    <section class = "scroll-container">
        <div class = "contact-me scroll-element js-scroll">
            <div class = "title">
                Contact me
            </div> 
            <div class = contact-me-container>

            
                <p> If you have an opportunity to share, or would like to discuss anything,
                    you can leave your details below. Thanks!
                </p> 
            
                <form class = "contact-form">
                    <label for = 'name'> Name: </label> <br>
                    <input type = "text" name = "name"> </form><br>
                    
                    <label for = 'email'> Email: </label><br>
                    <input type = "text" name = "email"> </form><br>
                    
                    <label for = 'message'> Message: </label><br>
                    <input type  = "text" name = "message"> </form><br>
                    
                    <input type = "submit" value = "Submit">  </form><br>
                </form> 
            </div>
        </div>

    </section>
    
    <!-- Start of section -->
    <section class = "scroll-container">
        <div class = "additional-section scroll-element js-scroll">
            PLACEHOLDER TEXT
        </div>
    </section>

    <footer>
        <p> PLACEHOLDER - GMAIL BUTTON </p>
        <p> PLACEHOLDER - LINKEDIN BUTTON </p>
        <p> PLACEHOLDER - GITHUB REPO </p> 
    </footer>
</body>
</html>