.scroll-element{
    animation: fade-in 1s ease-in-out both;
}

.js-scroll{
    opacity:0;
    transition:opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.about-me{
    background-color: yellow;
}

.contact-me{
    background-color:green;
}

.projects{
    background-color: blue;
}

.additional-section{
    background-color: red;
}